@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

.activate-card{
    background: #0f0c29; ;
    background: -webkit-linear-gradient(to left, #0f0c29, #302b63, #24243e);;
    background: linear-gradient(to left, #0f0c29, #302b63, #24243e); 
    color: honeydew;
    padding: 10px 18px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
}

.activate-card h4{
    font-weight: 400;
}

.activate-btn{
    align-self: center;
    margin-top: 10px;
}


