.form-container{
    background: #dfe4ea;
    -webkit-box-shadow: 0px 4px 12px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 12px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 12px -2px rgba(0,0,0,0.75);
    width: 600px;
    padding: 10px 8px;
    border-radius: 6px;
}

.form-container h2{
    font-size: 20px;
}

.form-container form{
    /* background: red; */
    padding: 8px 6px;
}

.form-container form .formGroup{
    display:  flex;
    flex-direction: column;
}

.form-container form .formGroup input{
    width: 80%;
    border-radius: 6px;
    outline: none;
    border: 1px solid rgb(163, 160, 160);
    padding: 4px 6px;
}

.form-container form .formGroup input::placeholder{
    padding-left: 2px;
}

.form-container form .formGroup input:focus{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.form-container form p{
    margin-top: 8px;
    font-size: 14px;
}

.submitBtn{
    width: 100px;
    padding: 6px 10px;
    background: #2f3542;
    border: none;
    outline: none;
    color: #ffffff;
    border-radius: 6px;
    font-weight: 500;
}